mixin card-sale(obj)
    +b.card-sale&attributes(attributes)
        +e('a').content.d-xs-block(href=jv0)
            +e.wrap-img.pos-rel.ovh.d-xs-flex.justify-content-xs-center
                +e('img').img(
                    src=obj.img,
                    loading="lazy",
                    width="455",
                    height="188"
                )
                +card-label(obj.label)

            +e.wrap-text.d-xs-block
                +e.title.fw-b.d-xs-block #{ obj.title } <br />
                +e.text_title.d-xs-block #{ obj.address }
                +e.text_price.d-xs-block #{ obj.project } <span class="fw-b">£#{ new Intl.NumberFormat('ja-JP').format(obj.price) }</span>
                +e.av.d-xs-block #{ obj.available }
